body {
    background-color: black;
}

.page-title {
text-align: center;
color: blanchedalmond;
}

.deck {
width: 600px;
height: 600px;
margin: 0 auto;
background-color: darkslategrey;
}

.card {
font-size: 0px; 
text-align: center;
background-color: darkred;
width:25%;
margin: 5px;
position: relative;
max-width: 120px;
justify-content: center;
}

.card i {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.flip {
    animation-name: flip;
animation-duration: .5s;
animation-iteration-count: initial;
animation-timing-function: linear;
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(180deg);
    }
}

.show {
    animation-name: show;
    animation-duration:.5s;
    animation-iteration-count: inherit;
    animation-timing-function: linear;
}

@keyframes show {
    from{
        transform: rotateY(0deg);
        font-size: 0px;
    } to {
        transform: rotateY(180deg);
        font-size: 70px;
    }
}

.disable {
    pointer-events: none;
    font-size: 70px;
}

