@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
/*Styling to the whole body*/
body {
    font-family: "Merriweather", "serif";
    text-align: center;
    font-size: 16px;
}

/*Background colors and colors used across multiple elements*/
.black {
    background-color: #111111;
}

.slate {
    background-color: #212121;
}

.white {
    color: #ffebcd;
}

/*Styling and parameters for the flip device message*/
.flip-device {
    max-width: 100%;
    max-height: 100%;
    display: none;
    font-size: 3rem;
    margin-top: 80px;
}

@media (max-width: 567px) {
    .flip-device {
        display: block;
    }
    header {
        display: none;
    }
    section {
        display: none;
    }
}

.turn {
    animation-name: turn;
    animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

@keyframes turn {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

/*Styling to Page title*/
.page-title {
    text-align: center;
    margin-bottom: 30px;
}

/*Used to add the pointer to selected elements such as cards, restart buttons and the how to play button as well as styling*/
.pointer {
    cursor: pointer;
}

.pointer:hover {
    color: #6c757d;
    transition-property: color;
    transition-duration: .3s;
}

/*Styling for difficulty selector and to customise the Bootstrap presets*/
.difficulty-selector {
    display: block;
    margin: 0 auto;
}

.btn {
    padding: 0;
}

.btn-group-toggle>.btn, .btn-group-toggle>.btn-group>.btn {
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-secondary {
    border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: #6c757d;
}

/*Styling and positionging for the life counter heart and to sit the number of lives within it*/
.life-counter {
    text-align: center;
    color: #ff0000;
    font-size: 3rem;
    margin-bottom: 15px;
}

.life {
    text-align: center;
    font-size: 2rem;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 5px;
}

/*Used to hide elements when cetain difficulties are selected as well as hiding the page when the screen width is below 568px*/
.hidden {
    display: none;
}

/*Styling and positioning for the game cards as well as their container, icons and animations*/
.deck {
    width: 520px;
    height: 600px;
    margin: 0 auto;
}

.game-card {
    font-size: 0rem;
    background-color: #8b0000;
    margin: 5px;
    max-width: 120px;
    cursor: pointer;
}

.card {
    border: none;
}

.game-card i {
    position: absolute;
    margin: auto;
    top: 2rem;
    left: 0;
    right: 0;
}

.flip {
    animation-name: flip;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-iteration-count: initial;
    -moz-animation-iteration-count: initial;
    -o-animation-iteration-count: initial;
    -webkit-animation-iteration-count: initial;
    animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    font-size: 4rem;
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
        font-size: 0rem;
    }
    to {
        transform: rotateY(180deg);
        font-size: 4rem;
    }
}

.disable {
    pointer-events: none;
}

.matched {
    font-size: 4rem;
    animation-name: match;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-iteration-count: 2;
    -moz-animation-iteration-count: 2;
    -o-animation-iteration-count: 2;
    -webkit-animation-iteration-count: 2;
    animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    background-color: #2f4f4f;
}

@keyframes match {
    from {
        transform: rotateY(0deg)
    }
    to {
        transform: rotateY(180deg)
    }
}

/* Styling used to customise Bootstraps modals*/
.no-border {
    border-bottom: none;
    border-top: none;
}